* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
}

form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.Message {
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.MessageContainer {
  margin-bottom: 40px;
}

.MessageRow {
  margin: 15px 0;
}

.MessageContainer {
  margin-bottom: 45px;
}

.Message {
  padding: 10px;
  border-radius: 10px;
}
